html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    height: 70px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0 110px;
}

a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #007bff;
    padding-bottom: 2px;
}

p.info {
    margin-top: 25px;
    font-size: 17px;
}

.resultado-box {
    display: none; 
    max-width: 400px;
    margin: 15px auto 0 auto; 
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
}

.resultado-ok {
    display: block;
    background-color: #198754;
    color: white;
}

.resultado-error {
    display: block;
    background-color: #dc3545;
    color: white;
}

.resultado-info {
    max-width: 400px;
    margin: 15px auto 0 auto; 
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #0d6efd20; /* azul suave */
    border-left: 5px solid #0d6efd;
    color: #ffffff;
}
